* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: #65da96;
  color: rgb(31, 12, 12);
  line-height: 1.6;
}

.container {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
}

/* =========================== */
/*          Header             */
/* =========================== */

.site-header {
  /* border: 1px solid rgb(0, 68, 255);
  padding: 15px;
  margin: 15px; */
  background: linear-gradient(90deg, #003c9e, #0099ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.brand {
  /* border: 1px solid rgb(255, 0, 212);
  padding: 15px;
  margin: 15px; */
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.brand-icon {
  padding: 15px;
  font-size: 30px;
  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(3, 133, 255);
  border-radius: 50%;
  border: 5px solid rgb(216, 47, 47);
}

.brand h2 {
  font-size: 26px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.85;
}

.main-nav {
  /* border: 1px solid rgb(225, 0, 255);
  padding: 15px;
  margin: 15px; */
}
.nav-list {
  list-style-type: none;

  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
}
.nav-list a:hover {
  background: #d3f3ff88;
  transition: all 0.3s;
}

/* =========================== */
/*         Main-Layout         */
/* =========================== */
.main-layout {
  /* border: 1px solid rgb(0, 47, 255);
  padding: 15px;
  margin: 15px; */
  padding: 20px 22px 0px;
  display: grid;
  grid-template-columns: 1fr 390px;
}

/*==========Left-Content========*/
.left-content {
  /* border: 1px solid rgb(255, 0, 234);
  padding: 15px;
  margin: 15px; */
  display: flex;
  flex-direction: column;
}

/* hero */
.hero {
  /* border: 1px solid rgb(255, 0, 234);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  gap: 16px;

  background: #fff;
  border-radius: 12px;
  padding: 24px 36px;
  box-shadow: 0 4px 12px #dceeff;
  min-height: 185px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(4, 67, 160);
}
.hero-text p {
  color: #133dc5da;
  font-size: 21px;
  font-weight: 600px;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  object-fit: cover;

  border: 1px solid #3964dc;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(21, 125, 223, 0.25);
}

/* link */
.card {
  border: 1px solid rgb(255, 0, 234);
  padding: 15px;
  margin: 15px;
}
/* image */
.card {
  border: 1px solid rgb(255, 0, 234);
  padding: 15px;
  margin: 15px;
}

/*==========Left-Content========*/
.right-sidebar {
  border: 1px solid rgb(255, 0, 242);
  padding: 15px;
  margin: 15px;
}

/* =========================== */
/*           Tip-Box           */
/* =========================== */
.tip-box {
  border: 1px solid rgb(0, 60, 255);
  padding: 15px;
  margin: 15px;
}
